{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
<h1> Recettes Gourmandes : Explorez un Monde Culinaire de Saveurs Délicieuses </h1>
<p>Bienvenue sur notre espace culinaire dédié aux amateurs de saveurs exquises et de plaisirs gustatifs. Chez [Nom de votre blog], nous sommes passionnés par l'art de la cuisine et nous sommes ravis de partager avec vous une collection diversifiée de recettes gourmandes. Explorez notre sélection soigneusement élaborée, des entrées appétissantes aux desserts divins. Chaque recette est une invitation à un voyage sensoriel, alliant créativité et authenticité. Rejoignez-nous dans cette aventure culinaire où chaque plat raconte une histoire et chaque bouchée éveille vos papilles. Que vous soyez novice en cuisine ou chef expérimenté, [Nom de votre blog] est votre compagnon de confiance pour des expériences culinaires inoubliables. Bon appétit et bienvenue dans notre univers gourmand ! 
</p>
{% endblock %}
